root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.kts]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.java]
ij_java_use_single_class_imports = true
ij_continuation_indent_size = 4
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
